
#files
.DS_Store
inputs/left.traindata
inputs/right.traindata
models/posttest-holdout-words.csv
models/posttest-outputs-distance-matrix.csv
models/posttest-outputs-targets-distance-matrix.csv
models/posttest-test-outputs.csv
models/posttest-test-outputs-order.csv
models/posttest-train-outputs.csv
models/posttest-train-outputs-order.csv
models/posttest-trainwords.csv
models/monosyllabic-model-pre
models/monosyllabic-model-advanced
outputs/mono/lstm/monosyllabic-model-advanced
outputs/mono/lstm/monosyllabic-model-pre


#filetypes
*.pyc
*.pdf
*.doc
*.docx
*.pptx
*.xlsx
*.xls
*.Rproj
*.RData
*.Rhistory
*.npy
*.png
*.traindata
*.h5
*.tex
*.log

#directories
logs/
.Rproj.user/
models/__pycache__

