
#files
.DS_Store
inputs/left.traindata
inputs/right.traindata

#filetypes
*.pyc
*.pdf
*.doc
*.docx
*.pptx
*.xlsx
*.xls
*.Rproj
*.RData
*.Rhistory
*.npy
*.png
*.traindata
#directories
logs/
.Rproj.user/


